# Build artifacts
build/
DerivedData/

# Ignore all user-specific Xcode data
*.xcuserstate
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
gogetter.xcodeproj/xcuserdata/

# VSCode
.vscode 

# macOS system files
.DS_Store

# Spotlight and Finder
*.swp
*.swo
