# Build artifacts
build/
DerivedData/

# User-specific Xcode settings
gogetter.xcodeproj/xcuserdata/*
gogetter.xcodeproj/*.xcworkspace/xcuserdata/
gogetter.xcodeproj/*.xcodeproj/xcuserdata/

# VSCode
.vscode 

# macOS system files
.DS_Store

# Spotlight and Finder
*.swp
*.swo
